@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');
@import url('http://fonts.googleapis.com/css?family=Roboto');
@import url('../fonts/knewave/font.css');

:root {
    --reds-color: #e84848;
    --secondReds-color: #c53d3d;
    --dark: #232123;
    --white: #ffffff;
    --gray: darkgray;
    --oneFont: 'Neucha', cursive;
    --oneFontSize: 16px;
    --twoFont: 'Roboto', serif;
    --twoFontSize: 14px;
    --threeFont: 'Knewave';
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: url(../images/cursor.gif), auto;
    font-family: var(--threeFont);
    font-size: var(--oneFontSize);
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26px;
}

header {
    width: 100%;
    background: var(--reds-color);
    border-bottom: 3px solid var(--secondReds-color);
}

.leftHeaderBlocks {
    margin-left: 100px;
}

.headerMenu {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.headerLogotype  {
    max-width: 50px;
}

.navbar a {
    color: #FFFFFF;
    width: 120px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.navbar a:hover {
    background: var(--secondReds-color);
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.headerMenu a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: var(--oneFont);
}

.navbar-brand {
    margin-top: 10px;
}

.searchFormInHeader {
    background: transparent;
    border: none;
    outline: 0;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex: 1;
}

.searchButtonInHeader {
    border: none;
    background: transparent;
    height: 38px;
    border-radius: 0 20px 20px 0;
    margin-left: -8px;
}

.searchInHeader {
    background: #ffffff;
    border-radius: 20px;
    margin-right: 20px;
}

.loginInHeader {
    height: 60px;
    width: 80px;
    background: var(--secondReds-color);
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.carousel-item img{
    max-height: 350px;
}

.carousel-item active img {
    max-height: 350px;
}

main {
    width: 100%;
    background: var(--gray);
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

/* short News */

.posterWide {
    width: 205px;
    height: 300px;
    margin: 20px;
    background: #5a1738;
    position: relative;
    padding: 0;
}

.posterWide img {
    width: 205px;
    height: 300px;
}

.posterWide img:hover {
    display: block;
    cursor: pointer;
}

.posterWide:hover .hiddenInfo{
    display: block;
    cursor: pointer;
}


/* end short News */

/* Ultra wide */

.ultraWide {
    background: blue;
    width: 100%;
    height: 350px;
    margin: 5px 0 10px 0;
    display: flex;
    flex-direction: row;
}

.posterUltraWide {
    height: 100%;
    width: 220px;
    background: url(https://aniraccoon.com/uploads/posts/2019-08/1564750146_swagamoto.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.showMoreAnime {
    border: none;
    height: 30px;
    background: var(--reds-color);
    color: var(--white);
    font-family: var(--oneFont);
    text-transform: uppercase;
    text-decoration: underline;
}

.showMoreAnime:hover {
    background: var(--secondReds-color);
}

.descriptionUltraWide {
    display: flex;
    flex-direction: column;
    background: var(--reds-color);
    height: 100%;
    width: calc(100% - 220px);
    align-items: flex-end;
}

.nameUltraWide {
    height: 30px;
    background: var(--reds-color);
    color: var(--white);
    font-family: var(--oneFont);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.animeDescriptionUltraWide {
    background: #9E9E9E;
    width: 98%;
    height: 100%;
}

/* end ultra wide */

/* new releases sidebar  */

.newReleasesSidebar {
    min-height: 100vh;
    background: var(--dark);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.newReleasesInscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background: var(--dark);
    color: var(--white);
    font-family: var(--oneFont);
    text-transform: uppercase;
    font-size: 28px;
}

.newReleaseItem {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
}

.newReleaseItem img {
    width: 100%;
    height: 100%;
}

.newReleaseItemName {
    background: #0000009c;
    margin: -40px 0 0 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: var(--white);
    font-family: var(--oneFont);
    overflow: hidden;
}

/* end new releases sidebar */


.mainContainer {
    background: #cccccc;
    min-height: 500px;
}

.contentContainer {
    background: darkcyan;
}

.contentRow {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px 0 0;
}

.contentRowPost {
    display: flex;
    margin-bottom: 150px;
}


.rowForContents {
    background: deeppink;
}

.titleCarousel {
    background: grey;
    max-height: 300px;
    width: 100%;
}

.owl-carousel .item {
    height: 300px;
    width: 220px;
}

.owl-next :hover {
    color: var(--reds-color);
}

.mainNav {
    background: #232123;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;
}


.mainNav a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 5px;
    text-transform: uppercase;
}

.navbar {
    padding: 0;
    height: 45px;
}

.showAllCategory {
    height: 100%;
    text-transform: uppercase;
    background: #232123;
    color: #FFFFFF;
    border: none;
    outline: none;
}

.secondMenu {
    background: #232123;
    width: 100%;
    display: flex;
    justify-content: center;
}

.secondMenu nav {
    height: 60px;
}

.footer {
    background: var(--dark);
    min-height: 220px;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--oneFont);
    color: var(--white);
}

.menu {
    list-style-type: none;
    cursor: pointer;
    color: #fff;
}

ul.submenu {
    position: absolute;
    display: none;
    max-width: 415px;
    list-style-type: none;
    z-index: 1000000;
}

ul.menu>li:hover ul.submenu {
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 30px 30px;
    border-radius: 6px;
    min-width: 300px;
}

.submenu li {

    height: 20px;
    margin-right: 20px;
    border-bottom: 3px solid var(--secondReds-color);
}

.submenu li:hover {
    border-bottom: 3px solid #fff;
    cursor: pointer;
}

.footerWidg {
    min-height: 220px;
    /* max-height: 220px; */
    border-right: 2px solid black;
}

.footerBear {
    background-image: url(../images/footerBear.png);
    height: 150%;
    background-repeat: no-repeat;
    width: 125%;
    position: absolute;
    top: -120px;
    left: 0;
    /* background: rebeccapurple; */
}

.aboutProjectFooter {
    height: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerWidgSubscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerWidgSubscribe h3 {
    text-align: center;
    color: #fff;
}

.subscribeMe {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.socialBalls {
    background: var(--reds-color);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.socialBalls {
    margin-right: 10px;
}

.socialBalls i {
    color: #fff;
    height: 30px;
    width: 30px;
    background: var(--reds-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0.50;
}

.socialBalls :hover {
    background: var(--reds-color);
    cursor: pointer;
    opacity: 1;
    border: 2px solid #ffffff;
}

.aboutProjectFooter {
    color: #FFFFFF;
}

.burger {
    color: #FFFFFF;
}

/* Carousel items */

.items {
    height: 300px;
    width: 212px;
    /*   border: 4px solid black; */
    margin: 0;
    padding: 0;
    position: relative;
}

.items img {
    height: 300px;
    width: 212px;
}

.items img:hover {
    display: block;
    cursor: pointer;
}

.hiddenInfo {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: #00000069;
    height: 100%;
    width: 100%;
    display: none;
    color: #fff;
}

.items:hover .hiddenInfo{
    display: block;
    cursor: pointer;
}

.hiddenInfo h3 {
    text-align: center;
}

.hiddenInfoBlock {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonShow {
    background: var(--reds-color);
    border: none;
    height: 30px;
    width: 160px;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 5px;
}

.activity {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player {
    height: 450px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px 0px 0px;
    padding: 0 5px 0 0;
}

.playerTop {
    height: 40px;
    width: 100%;
    background: #000;
}

.playerVideo {
    height: calc(100% - 95px);
    margin-top: 5px;
    margin-bottom: 5px;
    background: #212529;
    width: 100%;
}

.playerBottom {
    height: 55px;
    width: 100%;
    background: #000;
}

.infoSidebar {
    min-height: 100vh;
    background: #212121;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.fullNewsPoster{
    background-size: cover;
    background-color: transparent;
}

.fullNewsPoster img{
    height: 400px;
    width: 275px;
}

.card {
    height: 400px;
    width: 270px;
}

.moreMore {
    height: 30px;
    width: 100%;
    background: #ef3f3f;
    margin-top: 10px;
    margin-bottom: 10px;
}