:root {
    --reds-color: #e84848;
    --secondReds-color: #c53d3d;
    --dark: #232123;
    --white: #ffffff;
    --gray: darkgray;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: url(../images/cursor.gif), auto;
}

header {
    width: 100%;
    background: var(--reds-color);
    border-bottom: 3px solid var(--secondReds-color);
}

.leftHeaderBlocks {
    margin-left: 100px;
}

.headerMenu {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.headerMenu a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
    text-transform: uppercase;
}

.searchFormInHeader {
    background: transparent;
    border: none;
    outline: 0;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex: 1;
}

.searchButtonInHeader {
    border: none;
    background: transparent;
    height: 38px;
    border-radius: 0 20px 20px 0;
    margin-left: -8px;
}

.searchInHeader {
    background: #ffffff;
    border-radius: 20px;
    margin-right: 20px;
}

.loginInHeader {
    height: 60px;
    width: 80px;
    background: var(--secondReds-color);
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.carousell {
    max-height: 450px;
    width: 100%;
    background: transparent;
    border-bottom: 6px solid var(--dark);
}

main {
    width: 100%;
    min-height: calc(100% - 730px);
    background: var(--gray);
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.qube {
    width: 220px;
    height: 300px;
    margin: 10px;
    background: black;
}

.mainContainer {
    background: #232123;
    max-height: 500px;
}

.contentContainer {
    background: darkcyan;
}

.contentRow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.contentRowPost {
    display: flex;
    margin-bottom: 150px;
}


.row, .rowForContents {
    /* background: deeppink; */
}

.titleCarousel {
    background: grey;
    max-height: 300px;
    width: 100%;
}

.owl-carousel .item {
    height: 300px;
    width: 220px;
}

.owl-next :hover {
    color: var(--reds-color);
}

.mainNav {
    background: #232123;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;
}


.mainNav a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 5px;
    text-transform: uppercase;
}

.navbar {
    padding: 0;
}

.showAllCategory {
    height: 100%;
    text-transform: uppercase;
    background: #232123;
    color: #FFFFFF;
    border: none;
    outline: none;
}

.secondMenu {
    background: #232123;
    width: 100%;
    display: flex;
    justify-content: center;
}

.secondMenu nav {
    height: 60px;
}

.footer {
    background: #232123;
    min-height: 220px;
    display: flex;
    flex-wrap: wrap;
}

.menu {
    list-style-type: none;
    cursor: pointer;
    color: #fff;
}

ul.submenu {
    position: absolute;
    display: none;
    max-width: 415px;
    list-style-type: none;
    z-index: 1000000;
}

ul.menu>li:hover ul.submenu {
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 30px 30px;
    border-radius: 6px;
    min-width: 300px;
}

.submenu li {

    height: 20px;
    margin-right: 20px;
    border-bottom: 3px solid var(--secondReds-color);
}

.submenu li:hover {
    border-bottom: 3px solid #fff;
    cursor: pointer;
}

.footerWidg {
    min-height: 220px;
    max-height: 220px;
    border-right: 2px solid black;
}

.footerBear {
    background-image: url("../images/footerBear.png");
    height: 150%;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    top: -120px;
    left: 0;
    /* background: rebeccapurple; */
}

.aboutProjectFooter {
    height: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerWidgSubscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerWidgSubscribe h3 {
    text-align: center;
    color: #fff;
}

.subscribeMe {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.socialBalls {
    background: var(--reds-color);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.socialBalls {
    margin-right: 10px;
}

.socialBalls i {
    color: #fff;
    height: 30px;
    width: 30px;
    background: var(--reds-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0.50;
}

.socialBalls :hover {
    background: var(--reds-color);
    cursor: pointer;
    opacity: 1;
}

.aboutProjectFooter {
    color: #FFFFFF;
}

.burger {
    color: #FFFFFF;
}

/* Carousel items */

.items {
    height: 300px;
    width: 212px;
    /*   border: 4px solid black; */
    margin: 0;
    padding: 0;
    position: relative;
}

.items img {
    height: 300px;
    width: 212px;
}

.items img:hover {
    display: block;
    cursor: pointer;
}

.hiddenInfo {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: #00000069;
    height: 100%;
    width: 100%;
    display: none;
    color: #fff;
}

.items:hover .hiddenInfo{
    display: block;
    cursor: pointer;
}

.hiddenInfo h3 {
    text-align: center;
}

.hiddenInfoBlock {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonShow {
    background: var(--reds-color);
    border: none;
    height: 30px;
    width: 90px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.activity {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player {
    height: 450px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px 0px 0px;
    padding: 0 5px 0 0;
}

.playerTop {
    height: 40px;
    width: 100%;
    background: #000;
}

.playerVideo {
    height: calc(100% - 95px);
    margin-top: 5px;
    margin-bottom: 5px;
    background: #212529;
    width: 100%;
}

.playerBottom {
    height: 55px;
    width: 100%;
    background: #000;
}

.infoSidebar {
    min-height: 100vh;
    background: #212121;
    margin-top: 5px;
    padding: 5px;
}

.fullNewsPoster{
    background-size: cover;
    background-color: transparent;
}

.fullNewsPoster img{
    height: 400px;
    width: 275px;
}

.card {
    height: 400px;
    width: 270px;
}

.moreMore {
    height: 30px;
    width: 100%;
    background: #ef3f3f;
    margin-top: 10px;
    margin-bottom: 10px;
}