@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');
@import url('http://fonts.googleapis.com/css?family=Roboto');
@import url('../fonts/knewave/font.css');

:root {
    --reds-color: #e84848;
    --secondReds-color: #c53d3d;
    --dark: #232123;
    --white: #ffffff;
    --gray: darkgray;
    --darkBlur: #1b191b8a;
    --oneFont: 'Neucha', cursive;
    --oneFontSize: 16px;
    --twoFont: 'Roboto', serif;
    --twoFontSize: 14px;
    --threeFont: 'Knewave';
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: url(../images/cursor.gif), auto;
    font-family: var(--oneFont);
    font-size: var(--oneFontSize);
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26px;
}

header {
    width: 100%;
    background: var(--reds-color);
    border-bottom: 3px solid var(--secondReds-color);
}

.leftHeaderBlocks {
    margin-left: 100px;
}

.headerLogotype  {
    max-width: 60px;
}

.navbar a {
    color: var(--white);
    /* width: 120px; */
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a:hover {
    background: var(--secondReds-color);
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.headerMenu a {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--oneFont);
}

.navbar-brand {
    /* margin-top: 10px; */
}

.searchFormInHeader {
    background: transparent;
    border: none;
    outline: 0;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex: 1;
}

.searchButtonInHeader {
    border: none;
    background: transparent;
    height: 38px;
    border-radius: 0 20px 20px 0;
    margin-left: -8px;
}

.searchInHeader {
    background: var(--white);
    border-radius: 20px;
    margin-right: 20px;
}

#carouselExampleFade {
    display: none;
}

.carousel-inner img {
    border-bottom: 5px solid var(--dark);
}

main {
    width: 100%;
    background: #edeef0;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

/* short News */

.posterWide {
    width: 205px;
    height: 300px;
    margin: 20px;
    position: relative;
    padding: 0;
}

.posterWide img {
    width: 205px;
    height: 300px;
}

.posterWide img:hover {
    display: block;
    cursor: pointer;
}

.posterWide:hover .hiddenInfo{
    display: block;
    cursor: pointer;
}


/* end short News */

/* Ultra wide */

.ultraWide {
    /* background: blue; */
    width: 100%;
    height: 350px;
    margin: 0px 0 5px 0;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.posterUltraWide {
    height: 100%;
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.subsOrVoicing {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin: 10px 0 0 10px;
}

.subsOrVoicing .voicing {
    margin-right: 10px;
}

.subsOrVoicing .voicing i {
    color: var(--dark);
    font-weight: bold;
    font-size: 32px;
    text-shadow: var(--reds-color) 0 0 10px;
}

.subsOrVoicing .subtitle i {
    color: var(--dark);
    font-weight: bold;
    font-size: 32px;
    text-shadow: var(--reds-color) 0 0 10px;
}

.showMoreAnime {
    border: none;
    height: 30px;
    background: var(--reds-color);
    color: var(--white);
    font-family: var(--oneFont);
    text-transform: uppercase;
    text-decoration: underline;
    align-self: flex-end;
}

.showMoreAnime:hover {
    background: var(--secondReds-color);
}

.descriptionUltraWide {
    display: flex;
    flex-direction: column;
    background: var(--reds-color);
    height: 100%;
    width: calc(100% - 220px);
    align-items: flex-end;
}

.animeDescriptionUltraWide {
    background: var(--white);
    width: 98%;
    height: 100%;
}

.descriptionItem {
    /* background: rebeccapurple; */
    height: 25px;
    /* border-bottom: 2px solid #e3e4e8; */
    padding-right: 10px;
    overflow: hidden;
}

.descriptionItemType {
    /* background: rebeccapurple; */
    height: 25px;
    /* border-bottom: 2px solid #e3e4e8; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.commentsLikes {
    margin-right: 10px;
    display: flex;
}

.descriptionComments {
    margin-right: 10px;
}

.descriptionComments i {
    color: var(--green);
    font-weight: bold;
    -webkit-text-stroke: 1px var(--black);
    text-shadow: var(--dark) 0 0 5px;
}

.descriptionLikes i {
/*    margin-right: 10px; */
    color: var(--reds-color);
    font-weight: bold;
    -webkit-text-stroke: 1px var(--black);
    text-shadow: var(--dark) 0 0 5px;
    
}

.descrItemWord {
    margin: 0 10px 0 10px;
}

.descrItemWord a {
    margin-left: 5px;
    color: var(--reds-color);
}

.descriptionItem a {
    margin-right: 10px;
    color: var(--reds-color);
}

.itemText {
    margin-left: 5px;
    color: var(--reds-color);
}

.description {
    /* background: #03A9F4; */
    max-height: 155px;
    word-break: break-word;
    padding: 5px 10px 0 10px;
    overflow: hidden;
}

/* end ultra wide */

/* new releases sidebar  */

.newReleasesSidebar {
    min-height: 100vh;
    background: var(--dark);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.newReleasesInscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 100%;
    background: var(--dark);
    color: var(--white);
    font-family: var(--oneFont);
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 5px;
}

.releaseSidebar {
    min-height: 100vh;
    background: var(--dark);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.releasePoster {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* height: 400px; */
    width: 100%;
    background: #7d127d;
    color: var(--white);
    font-family: var(--oneFont);
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 5px;
}

.releasePoster img {
    width: 100%;
}

.releaseDescriptionName {
    width: 100%;
    height: 40px;
    background: var(--reds-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 5px;
    font-size: 20px;
}

.releaseDescription {
    width: 100%;
    max-height: 300px;
    display: flex;
    justify-content: center;
    color: var(--white);
    margin-bottom: 5px;
    font-size: 14px;
    overflow: hidden;
    letter-spacing: 2px;
}

.releaseDescriptionActive {
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    color: var(--white);
    margin-bottom: 5px;
    font-size: 14px;
    overflow: hidden;
    letter-spacing: 2px;
}

.showMoreDescription {
    width: 100%;
    background: var(--dark);
    border: 3px solid var(--reds-color);
    color: var(--white);
    font-size: 20px;
    text-transform: uppercase;
    margin: 5px 0 5px 0;
}

.releaseDescriptionItem {
    width: 100%;
    min-height: 20px;
    margin: 0 0 5px 0;
    display: flex;
    flex-direction: row;
    color: white;
    flex-wrap: wrap;
}

.releaseDescriptionItems {
    margin-left: 10px;
    color: var(--reds-color);
}

.newReleaseItem img {
    width: 100%;
    height: 100%;
}

.newReleaseItemName {
    background: var(--dark);
    margin: -40px 0 0 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: var(--white);
    font-family: var(--oneFont);
    overflow: hidden;
}

/* end new releases sidebar */


.mainContainer {
    /* background: #cccccc; */
    min-height: 500px;
}

.contentRow {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5px 0 0;
}

.gridOrList {
    /* height: 40px; */
    padding: 0 0px 0 0;
    margin: 5px 0 5px 0;
    /* background: #fff; */
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    justify-content: flex-end;
    /* border-radius: 4px; */
    /* box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8; */
    /* margin-right: 5px; */
}

.gridOrListPost {
    /* height: 40px; */
    padding: 0 5px 0 0;
    margin: 5px 0 5px 0;
    /* background: #fff; */
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    justify-content: flex-end;
    /* border-radius: 4px; */
    /* box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8; */
    margin-right: 5px;
}

.gridOrList i {
    font-size: 25px;
    text-shadow: var(--reds-color) 0 0 5px;
}

.gridOrList button {
    margin: 0 5px 0 5px;
}

.gridOrListPost i {
    font-size: 25px;
    text-shadow: var(--reds-color) 0 0 5px;
}

.gridOrListPost button {
    margin: 0 5px 0 5px;
}

.contentRowPost {
    display: flex;
    margin-bottom: 150px;
}

/*
.rowForContents {
    background: deeppink; 
}*/

.titleCarousel {
/*    background: grey; */
    max-height: 300px;
    width: 100%;
    margin: 5px 0 5px 0;
}

.owl-carousel .item {
    height: 300px;
    width: 220px;
}

.owl-next :hover {
    color: var(--reds-color);
}

.mainNav {
    background: var(--dark);
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;
}


.mainNav a {
    text-decoration: none;
    color: var(--white);
    margin-right: 5px;
    text-transform: uppercase;
}

.showAllCategory {
    height: 100%;
    text-transform: uppercase;
    background: #232123;
    color: var(--white);
    border: none;
    outline: none;
}

.secondMenu {
    background: var(--dark);
    width: 100%;
    color: var(--white);
    text-transform: uppercase;
}

.secondMenu nav {
    height: 60px;
}

.footer {
    background: var(--dark);
    min-height: 220px;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--oneFont);
    color: var(--white);
}

.menu {
    list-style-type: none;
    cursor: pointer;
    color: var(--white);
}

ul.submenu {
    position: absolute;
    display: none;
    max-width: 415px;
    list-style-type: none;
    z-index: 1000000;
}

ul.menu>li:hover ul.submenu {
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.8);
    color: var(--white);
    padding: 30px 30px;
    border-radius: 6px;
    min-width: 300px;
}

.submenu li {

    height: 20px;
    margin-right: 20px;
    border-bottom: 3px solid var(--secondReds-color);
}

.submenu li:hover {
    border-bottom: 3px solid var(--white);
    cursor: pointer;
}

.footerWidg {
    min-height: 220px;
    /* max-height: 220px; */
    /* border-right: 2px solid black; */
}

.footerBear {
    background-image: url(../images/footerRaccoon.png);
    height: 100%;
    background-repeat: no-repeat;
    min-width: 280px;
    position: absolute;
    top: -10px;
    left: 100px;
    background-size: contain;
    opacity: .5;
    /* background: rebeccapurple; */
}


.aboutProjectFooter {
    height: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerWidgSubscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerWidgSubscribe h3 {
    text-align: center;
    color: var(--white);
}

.subscribeMe {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.socialBalls {
    background: var(--reds-color);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.socialBalls {
    margin-right: 10px;
}

.socialBalls i {
    color: var(--white);
    height: 30px;
    width: 30px;
    background: var(--reds-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0.50;
}

.socialBalls :hover {
    background: var(--reds-color);
    cursor: pointer;
    opacity: 1;
    border: 2px solid var(--white);
}

.aboutProjectFooter {
    color: var(--white);
}

.burger {
    color: var(--white);
}

/* Carousel items */

.items {
    height: 300px;
    width: 220px;
    /* border: 4px solid black; */
    /* margin: 0px; */
    padding: 0;
    position: relative;
}

.items img {
    height: 300px;
    width: 220px;
}

.items img:hover {
    display: block;
    cursor: pointer;
}

.hiddenInfo {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: var(--darkBlur);
    height: 100%;
    width: 100%;
    display: none;
    color: var(--white);
}

.items:hover .hiddenInfo{
    display: block;
    cursor: pointer;
}

.hiddenInfo h3 {
    text-align: center;
}

.hiddenInfoBlock {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.buttonShow {
    background: var(--reds-color);
    border: none;
    height: 30px;
    width: 160px;
    color: var(--white);
    font-weight: bolder;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 5px;
    /* box-shadow: var(--white) 0 0 3px 2px; */
}

.carouselLikes i {
    color: var(--reds-color);
    font-weight: bold;
    -webkit-text-stroke: 1px var(--dark);
    text-shadow: var(--white) 0 0 5px;
}

.carouselComments i {
    color: var(--green);
    font-weight: bold;
    -webkit-text-stroke: 1px var(--dark);
    text-shadow: var(--white) 0 0 5px;
}

.activity {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.postRow {
    padding: 0;
}

.playerRow {
    padding: 0;
}

.player {
    min-height: 590px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 5px 0;
    padding: 0 5px 0 0;
}

.playerTop {
    height: 40px;
    width: 100%;
    background: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.playerTopName {
    color: #fff;
    text-transform: uppercase;
}

.playerVideo {
    height: 480px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: var(--dark);
    width: 100%;
}

.playerBottom {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    min-height: 70px;
    max-height: 120px;
    width: 100%;
    background: var(--dark);
}

.onePlayerEps {
    min-width: 30px;
    height: 25px;
    margin: 5px 0px 0px 3px;
    border-radius: 2px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background: var(--reds-color);
}

.onePlayerEps:hover {
    background: var(--secondReds-color);
}

.infoSidebar {
    min-height: 100vh;
    background: var(--dark);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.fullNewsPoster{
    background-size: cover;
    background-color: transparent;
}

.fullNewsPoster img{
    height: 400px;
    width: 275px;
}

.card {
    height: 400px;
    width: 270px;
}

.moreMore {
    height: 30px;
    width: 100%;
    background: var(--reds-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-toggler {
    color: var(--white);
}

.active {
    background: var(--reds-color);
}

.dropdown-menu {
    background: var(--dark);
}

.dropdown-item {
    border-bottom: 2px solid var(--secondReds-color);
}

.dropdown-item {
    font-family: var(--onefont);
    font-weight: bold;
}

.navbar-toggler {
    font-family: var(--onefont);
    font-weight: bold;
}

.loginInHeader .dropdown-menu {
    /* width: 220px; */
    margin-top: 50px;
}

.loginDroplet {
    border: none;
    border-radius: 0;
    width: 80px;
    height: 45px;
    font-family: var(--oneFont);
    font-weight: bold;
    color: var(--white);
    font-size: var(--oneFontSize);
    text-transform: uppercase;
}

.loginDropletSign {
    height: 40px;
    width: 100%;
    background: var(--reds-color);
}

.loginDropletSign:hover {
    background: var(--secondReds-color);
}

.loginDroplet:hover {
    background: var(--reds-color);
}

.headerDropdown {
    color: var(--white);
}

.settingsSite {
    background: #232123;
    width: 100%;
    padding: 10px 5px 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.commentsTop {
    background: var(--reds-color);
    min-height: 40px;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--white);
    margin-bottom: 10px;
}

/* scrl */

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--dark); 
  }
   
  ::-webkit-scrollbar-thumb {
    background: var(--secondReds-color); 
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--reds-color)
  }

/* end scrl */

.commentsBlock {
    width: 100%;
}

.title {
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    background: var(--dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.numberOfLikes {
    color: var(--white);
    margin: 0 20px 0 10px;
}

.commentatorName {
    color: var(--white);
    margin: 0 20px 0 20px;
}

.commentDate {
    background: var(--reds-color);
    border-radius: 4px;
    height: 25px;
    padding: 0 5px 0 5px;
    color: var(--white);
}

.komen {
    font-size: 14px;
    color: var(--dark);
    margin-left: 20px;
    text-transform: uppercase;
}
.geser {
    margin-left: 65px;
    /* margin-top: 5px; */
    /* width: 100%; */
    /* background: aqua; */
}

.commentsHeadLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.media-left {
    width: 70px;
    /* height: 95px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.media-left a {
    text-decoration: none;
    color: var(--dark);
    text-transform: uppercase;
}

.commentImg {
    width: 70px;
    background: var(--dark);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentImg img {
    width: 60px;
    height: 60px;
}

.media {
    width: 100%;
    /* background: burlywood; */
    margin-bottom: 10px;
}

.playerButton {
    padding: 0 5px 0 5px;
    background: var(--reds-color);
    margin-right: 10px;
    text-transform: uppercase;
    color: var(--reds-color);
    background: none;
    border: 2px solid var(--reds-color);
}

.playerButton:hover {
    color: var(--white);
}

@media (min-width: 400px) and (max-width: 999px) {
    .trailerYt {
        width: 540px;
        height: 480px;
    }

    .commentsLikes {
        margin-right: 10px;
        display: flex;
        flex-direction: column;
    }

    .descriptionItem {
        min-height: 25px;
        /* border-bottom: 2px solid #e3e4e8; */
        /* padding-right: 10px; */
        overflow: hidden;
    }

    .description {
        /* background: #03A9F4; */
        max-height: 138px;
        word-break: break-word;
        padding: 5px 10px 0 10px;
        overflow: hidden;
    }

    .playerButton {
        padding: 0 5px 0 5px;
        background: var(--reds-color);
        margin-right: 0;
        text-transform: uppercase;
        color: var(--reds-color);
        background: none;
        border: 2px solid var(--reds-color);
    }

}

@media (max-width: 767px) {

    .gridOrListPost {
        margin: 5px 0 5px 0;
        padding: 0;
    }

    .releasePoster {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        /* height: 400px; */
        width: 100%;
        background: #7d127d;
        color: var(--white);
        font-family: var(--oneFont);
        text-transform: uppercase;
        font-size: 28px;
        margin-bottom: 5px;
    }

    .releasePoster img {
        width: 100%;
        min-height: 650px;
    }

    .nav-item {
        /* width: 100%; */
        border-bottom: 2px solid var(--secondReds-color);
    }

    .player {
        margin: 0 0 5px 0;
        padding: 0;
    }

    .playerButton {
        padding: 0 5px 0 5px;
        background: var(--reds-color);
        /* margin-right: 10px; */
        text-transform: uppercase;
        color: var(--reds-color);
        background: none;
        /* border: 2px solid var(--reds-color); */
    }

}

@media (max-width: 998px) {

    .navbar {
        padding: 0;
        min-height: 45px;
    }

    .loginInHeader {
        height: 60px;
        width: 100%;
        background: var(--secondReds-color);
        margin-right: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        cursor: pointer;
    }

    .headerMenu {
        /*margin-left: 100px;*/
        display: flex;
        align-items: center;
        background: var(--dark);
    }

    .nav-item {
        width: 100%;
        border-bottom: 2px solid var(--secondReds-color);
    }

    .playerButton {
        border-bottom: 0;
        width: auto;
    }

    .searchInHeader {
        background: var(--white);
        border-radius: 20px;
        margin-right: 0px;
    }

    .nameUltraWide {
        /* height: 30px; */
        background: var(--reds-color);
        color: var(--white);
        font-family: var(--oneFont);
        font-size: var(--twoFontSize);
        display: flex;
        align-items: center;
        justify-content: center;
        /* overflow: hidden; */
        width: 100%;
        padding: 5px;
    }

    .navbar-nav .dropdown-menu {
        background: var(--dark);
        color: var(--white);
    }
    
    .newReleaseItem {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }

    .playerButton {
        padding: 0 5px 0 5px;
        background: var(--reds-color);
        /* margin-right: 10px; */
        text-transform: uppercase;
        color: var(--reds-color);
        background: none;
        /* border: 2px solid var(--reds-color); */
    }

}

@media (min-width: 1000px) {

    .navbar {
        padding: 0;
        height: 45px;
    }

    .loginInHeader {
        max-height: 60px;
        max-width: 80px;
        background: var(--secondReds-color);
        margin-right: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        cursor: pointer;
    }

    .headerMenu {
        margin-left: 100px;
        display: flex;
        align-items: center;
    }

    .nameUltraWide {
        height: 30px;
        background: var(--reds-color);
        color: var(--white);
        font-family: var(--oneFont);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        text-transform: uppercase;
    }
    .newReleaseItem {
        width: 100%;
        height: 140px;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }
    
    /* Carousel */
    
    .carousel {
        height: 500px !important;
    }
    .carousel-inner img {
        height: 500px !important;
        margin: 0 auto;
        border-bottom: 8px solid var(--dark);
    }
    .carousel-indicators li {
        border-color: var(--dark);
    }
    .carousel-indicators .active {
        background-color: var(--dark);
    }

    .loginInHeader .dropdown-menu {
        margin: 50px -140px 0 0;
    }

    .dropdown-divider {
        border-top: 2px solid var(--secondReds-color);
    }

    .signUp {
        padding-bottom: 12px;
    }

}

.trailerYt {
    width: 850px;
    height: 480px;
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .trailerYt {
        width: 715px;
        height: 480px;
    }
}

.nav-pills .nav-link.active {
    color: var(--white);
    background-color: var(--reds-color);
}